*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.width{
    width: 100vw;
}

.allwrapper > div:first-child{
    background-image: url(../images_folder/bg\ shape.png);
    background-size: auto 100%; 
    min-width: 1590px;
}

.flex{
    display: flex;
}
.horisonta-size{
    width: 1170px;
}

.grid{
    display: grid;
}
.center{
    justify-content: center;
}

.space-areound{
    justify-content: space-around;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}